<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget id = "com.phonegap.test-compass"
        version  = "1.0.0">

    <name> Test Compass</name>

    <description>
        Test Compass
    </description>

    <author href="http://phonegap.com" email="support@567567567.com">
        Test Compass
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>



    <!-- Core plugins -->

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.geolocation" />




    <access origin="*"/>


</widget>
